* {

}

/* Header css*/

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  position: fixed;
}

.logobox.header {
  justify-content: flex-start;
  display: flex;
}

nav {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  list-style-type: none;
}

ul {
  display: inline-block;
  list-style-type: none;
}

/* Header css*/
